
@{
    ViewBag.Title = "ResturantDashboard";
    Layout = "~/Views/Shared/ResturantLayout.cshtml";
}

<h2>ResturantDashboard</h2>

@if (1<2)
{
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Preservetion Date</th>
            <th>Status</th>
            <th>Request Date</th>
            <th>Action Date</th>
            <th>Delivery Date</th>
        </tr>
        @foreach (var fr in Model)
        {
            <tr>
                <td>@fr.Id</td>
                <td>@fr.Description</td>
                <td>@fr.PreserveDate</td>
                <td>@fr.Status</td>
                <td>@fr.Request_Date</td>
                <td>@fr.Action_Date</td>
                <td>@fr.Delivery_Date</td>
            </tr>
        }
    </table>
}*/
